@model IEnumerable<OwodaApp.Models.Member>

@{
    ViewData["Title"] = "SearchResult";
}







<section id="memberReg">
    <div class="container">
        <h1>SearchResult</h1>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MemberId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section><!-- End Hero -->