@model IEnumerable<OwodaApp.Models.Payment>

@{
    ViewData["Title"] = "SearchResult";
}


<h1>Search Result</h1>

<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Member)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehicle)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.MemberId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
                        </td>
                        <td>
                          
                            <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>



<section id="makePayment">
    <div class="container">
        <h1>Search Result</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Member)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehicle)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.MemberId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
                        </td>
                        <td>

                            <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |

                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</section><!-- End Hero -->

